        {{>pageInfo}}
       <div id="cart" class="product-table">
           <div class="inner">
                {{#if cart}}
               <table class="table">
                  <thead>
                    <tr>
                        <td>remove</td>
                        <td>image</td>
                        <td>product</td>
                        <td>unit price</td>
                        <td>quantity</td>
                        <td>total</td>
                    </tr>
                  </thead>
                   <tbody>
                    {{#each cart.items}}  
                    <tr>
                        <td class="remove"> <a href=""> x </a> </td>
                        <td class="img"> <a href=""> <img src={{this.img}} alt=""> </a></td>
                        <td class="name"> <a href="" >{{this.name}}</a> </td>
                        <td class="price"> {{this.price}} </td>
                        <td class="number"> 
                            <div id="quantity-and-btn" class="row">
                            <div id="quantity">
                                <input type="text" value={{this.unit}} patter="[1-9]+[0-9]*">
                                <div id="decrease">
                                    <i class="fas fa-minus"></i>
                                </div>
                                <div id="increase">
                                    <i class="fas fa-plus"></i>
                                </div>
                            </div> 
                        </td>
                        <td class="total">{{this.total}}</td>
                   </tr>
                    {{/each}} 
                </tbody>
                   
               </table>

               <div class="cart-total">
                   <div class="btn b">update cart</div>
                   <div id="total">
                       <h2>cart totals</h2>
                       <div>subtotal <span>{{cart.total}}</span></div>
                       <div>total <span>{{cart.total}}</span></div>
                   </div>
                   <div class="btn b">proceed to checkout</div>
               </div>
                {{else}} 
                    {{>noItem}}
                {{/if}}
           </div>
       </div>
      
        