        {{>pageInfo}}
        
        <div id="cart" class="product-table userCart">
           <div class="inner">
                {{#if cart}}
                {{#if cart.items}}
               <table class="table">
                  <thead>
                    <tr>
                        <td>remove</td>
                        <td>image</td>
                        <td>product</td>
                        <td>unit price</td>
                        <td>quantity</td>
                        <td>total</td>
                    </tr>
                  </thead>
                   <tbody>
                    {{#each cart.items}}  
                    <tr>
                        <td class="remove"> <a href="" data={{this.plant.id}}> x </a> </td>
                        <td class="img"> <a href="/shop/product/{{this.plant.name}}"> <img src={{this.plant.src.[0]}} alt=""> </a></td>
                        <td class="name"> <a href="/shop/product/{{this.plant.name}}">{{this.plant.name}}</a> </td>
                        <td class="price"> ${{this.plant.price}} </td>
                        <td class="number"> 
                            <div id="quantity-and-btn" class="row">
                            <div id="quantity">
                                <input type="text" name = {{this.plant.id}} value={{this.unit}}  onkeypress="return onlyNumberKey(event)" maxlength="1">
                                <div id="decrease" onclick="cartUnit('sub', this)">
                                    <i class="fas fa-minus"></i>
                                </div>
                                <div id="increase" onclick="cartUnit('add', this)">
                                    <i class="fas fa-plus"></i>
                                </div>
                            </div> 
                        </td>
                        <td> $<span class="total">{{this.total}}</span></td>
                   </tr>
                    {{/each}} 
                </tbody>
                   
               </table>

               <div class="cart-total">
                   <a onclick = "updateBtn()" id="updateBtn" class="btn b" >update cart</a>
                   <div id="total">
                       <h2>cart totals</h2>
                       <div>items <span id="totalItem">{{cart.totalItem}}</span></div>
                       <div>total <span>$<span id= "cartTotal">{{cart.total}}</span></span></div>
                   </div>
                   <a href="/checkout" class="btn b">proceed to checkout</a>
               </div>
                {{else}} 
                    {{>noItem}}
                {{/if}}
                {{else}}
                    {{>noItem}}
                {{/if}}
           </div>
       </div>
      
        