
        {{>pageInfo}} 
        <main> 
            <form action="/create-checkout-session" method="POST" class="form">
            <div id="checkout-section" class="inner">
                <div id="billing">
                   <div id="billing-details">
                        <h2>billing details</h2>
                            <label for="bCountry">country*</label>
                            <input type="text" name="bCountry" required="required" class="input-small" value="{{user.billingAddress.country}}">

                            <label for="bFirst"> first name*</label>
                            <input type="text" name="bFirst" required="required" class="input-small" value="{{user.firstName}}">

                            <label for="bLast"> last name</label>
                            <input type="text"name="bLast" class="input-small"  value="{{user.lastName}}">

                            <label for=""> company name</label>
                            <input type="text" >
                            
                            <label for="bAddress"> address*</label>
                            <input type="text" name="bAddress" required="required" value="{{user.billingAddress.address}}">
        
                            <label for="bCity">city*</label>
                            <input type="text"  name="bCity" required="required" value="{{user.billingAddress.city}}">

                            <label for="bState"> state*</label>
                            <input type="text" name="bState" required="required" class="input-small" value="{{user.billingAddress.state}}">

                            <label for="bPin"> postcode / zip*</label>
                            <input type="text" name="bPin" required="required" class="input-small" value="{{user.billingAddress.pin}}">

                            <label for="">email address*</label>
                            <input type="email" disabled required="required" class="input-small"  value="{{user.email}}">

                            <label for="phone">phone*</label>
                            <input type="text" name="phone" pattern="[6789][0-9]{9}"  required="required" class="input-small"  value="{{user.phoneNumber}}">
                   </div>

                   <div id="another-address">
                       <h2>ship to another address
                            <input type="checkbox" name="shipCheckBox" class="checkout-open" autocomplete="off">
                        </h2>
                        
                        <div class="hide checkout-card">
                            <label for="sCountry">country*</label>
                             <input type="text" name="sCountry" class="input-small" value="{{user.shippingAddress.country}}">

                            <label for="sFirst"> first name*</label>
                            <input type="text" name="sFirst" class="input-small" value="{{user.firstName}}">

                            <label for="sLast"> last name</label>
                            <input type="text" name="sLast"  class="input-small" value="{{user.lastName}}">

                            <label for=""> company name</label>
                            <input type="text" >
                            
                            <label for="sAddress"> address*</label>
                            <input type="text"  name="sAddress"  placeholder="address"  value="{{user.shippingAddress.address}}">
    
                            <label for="sCity"> city*</label>
                            <input type="text" name="sCity"  value="{{user.shippingAddress.city}}">

                            <label for="sState"> state*</label>
                            <input type="text" name="sState"  class="input-small"  value="{{user.shippingAddress.state}}">

                            <label for="sPin"> postcode / zip*</label>
                            <input type="text" name="sPin" class="input-small"  value="{{user.shippingAddress.pin}}">

                            <label for="sEmail">email address*</label>
                            <input type="email" name="sEmail"  class="input-small" value="{{user.email}}">

                            <label for="sPhone">phone*</label>
                            <input type="text"  name="sPhone" pattern="[6789][0-9]{9}"  class="input-small" value="{{user.phoneNumber}}">
                        </div>
                       
                    </div>

                   <div id="notes">
                       
                           <label for=""> order notes</label>
                           <textarea name="" id="" cols="30" rows="5" placeholder="notes about your order, e.g. special notes for delivery."></textarea>
                       
                   </div>
                </div>

                <div id="payment-section">
                    <h2>your order</h2>
                    <div id="table">
                        <table>
                            <tr>
                                <th>product</th>
                                <th>total</th>
                            </tr>
                        {{#each cart.items}}
                            <tr>
                                <td>{{this.plant.name}} <span>x {{this.unit}}</span></td>
                                <td class="rate">$ {{this.plant.price}}</td>
                            </tr>
                        {{/each}}
    
                            <tr>
                                <td class="bold">order total</td>
                                <td id="charges">$ {{cart.total}}</td>
                            </tr>
                        </table>
                    </div>

                    <div id="transaction">
                        <a href=""> direct bank transfer</a>
                        <p>
                            Make your payment directly into our bank account. 
                            Please use your Order ID as the payment reference. 
                            Your order won’t be shipped until the funds have cleared in our account
                        </p>
                        <a href=""> cheque payment</a>
                        <a href=""> PayPal</a>
                        
                        <button type="submit" class="btn b">place order</button>
                       
                    </div>
                </div>
            </div>
            </form>
        </main>

        