
        {{>pageInfo}}
        <div id="account-section">
            <div class="inner">
                <div role ="tablist" id="account-tab-list">
                    <a href="" role="tab" aria-controls="dashboard" class="active">dashboard</a>
                    <a href="" role="tab" aria-controls="orders" class="">orders</a>
                    <a href="" role="tab" aria-controls="addresses" class="">addresses</a>
                    <a href="" role="tab" aria-controls="account-details" class="">account details</a>
                    <a href="/logout" role=""  class="">logout</a>
                </div>

                <div id="dashboard" role="tabpanel">
                    <p>Hello <span>{{user.firstName}}</span>
                        (not <span>{{user.firstName}}?</span> 
                        <a href="/logout">Sign out</a>)
                    </p>
                    <p>From your account dashboard you can view your recent orders, 
                        manage your shipping and billing addresses and edit your password and account details.
                    </p>
                </div>

                <div id="orders" role="tabpanel" hidden>
                    <h2>my orders</h2>

                    <div id="table">
                        <table class="table">
                            <thead>
                              <tr>
                                  <td>order</td>
                                  <td>date</td>
                                  <td>status</td>
                                  <td>total</td>
                                  <td></td>
                              </tr>
                            </thead>
                             <tbody>
                              <tr>
                                  <td class="order"> #5678 </td>
                                  <td class="date"> mar 27, 2021</td>
                                  <td class="staus"> on hold </td>
                                  <td class="cost"> $23.45 </td>
                                  <td class="view"><a href="" class="btn b "> view </a></td>
                             </tr>
                             <tr>
                                  <td class="order"> #5678 </td>
                                  <td class="date"> mar 27, 2021</td>
                                  <td class="staus"> on hold </td>
                                  <td class="cost"> $23.45 </td>
                                  <td class="view"><a href="" class="btn b "> view </a></td>
                             </tr>
                             </tbody>
                             
                         </table>
                    </div>
                </div>

                <div id="addresses" role="tabpanel" hidden>
                    <p>The following addresses will be used
                        on the checkout page by default</p>
                     
                    <div id="default-add">
                        <div class="add">
                            <h2>billing address</h2>
                            <p>1234 Heaven Stress, Beverly Hill 
                                OldYork UnitedState of Lorem </p>
                        </div>

                        <div class="add">
                            <h2>shipping address</h2>
                            <p>1234 Heaven Stress, Beverly Hill 
                                OldYork UnitedState of Lorem </p>
                        </div>
                    </div>
                    
                </div>

                <div id="account-details" role="tabpanel" hidden>
                    <form action="/user/update" class="form" method='POST'>
                        <label for="firstName">first name</label>
                        <input type="text" name="firstName" value="{{#if user}}{{user.firstName}}{{/if}}" required>

                        <label for="lastName">last name</label>
                        <input type="text" name="lastName" value="{{#if user}}{{user.lastName}}{{/if}}">

                        <label for="email">email</label>
                        <input type="email"  name="email" value="{{#if user}}{{user.email}}{{/if}}" required>

                        <label for="gender">gender</label>
                        <input type="text"  name="gender" value="{{#if user}}{{user.gender}}{{/if}}">

                        <label for="password">current password</label>
                        <input type="password" name="password" >

                        <label for="newPassword">new password</label>
                        <input type="password" name="newPassword">

                        <label for="confirmNewPassword"> confirm new password</label>
                        <input type="password"  name="confirmNewPassword">

                        <input type="submit" value="save changes" class="btn">
                    </form>
                </div>

            </div>
        </div>

       