    {{>pageInfo}}
   {{#each product}}
        <div id="purchase-section">
            <div id="purchase-section-inner" class="inner">
                <div id="product-images">
                    <div id="product-image-single-cover">
                        <img id="product-image-single" src={{this.src.[0]}}  alt="" height="400">
                    </div>
                    <div id="product-image-grid" class="row-2">
                        {{#each this.src}}
                        <div onclick="changeImage(this)" class="grid-image-cover">
                            <img class="grid-image" src={{this}} alt="" height="100">
                        </div>
                        {{/each}}
                    </div>
                </div>

                <div id="product-content">
                    <div id="product-info">
                        <p>{{this.name}}</p>
                        <h3>${{this.price}}</h3>
                        <div id="rating">
                            <div id="stars" class="stars">
                                {{#for 1 (cal this.totalStar 'rDiv' this.totalReview) 1 }}
                                    <i class="fas fa-star"></i>
                                {{/for}}
                                {{#for 1 (cal 5 "sub" (cal this.totalStar 'rDiv' this.totalReview)"" ) 1 }}
                                    <i class="far fa-star"></i>
                                {{/for}}
                            </div>
                            <span>[<span class="commentCount">{{this.totalReview}}</span> review]</span>
                        </div>
                        
                    </div>

                    <div id="product-selector">
                        <div class="selector">
                            <span class="selector-field">color</span>
                            <div class="select">
                                <span class="value"> black & white
                                     <i class="fas fa-caret-down"></i>
                                </span>
                                <ul hidden>
                                    <li class="option"> black & white</li>
                                    <li class="option"> blue </li>
                                    <li class="option"> green </li>
                                    <li class="option"> red </li>
                                </ul>
                            </div>
                        </div>
                        <div class="selector">
                            <span class="selector-field">size</span>
                            <div class="select">
                                <span class="value"> medium 
                                    <i class="fas fa-caret-down"></i >
                                </span>
                                <ul hidden>
                                    <li class="option selected"> medium </li>
                                    <li class="option"> large </li>
                                    <li class="option"> small </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div id="short-discription" >
                        <p> {{this.shortDesc}} </p>
                    </div>

                    <div id="quantity-and-btn" class="row">
                        <div id="quantity">
                            <input id= "productUnit" type="text" value="1" onkeypress="return onlyNumberKey(event)" maxlength="1">
                            <div id="decrease" onclick="cartUnit('sub', this)">
                                <i class="fas fa-minus"></i>
                            </div>
                            <div id="increase"  onclick="cartUnit('add', this)">
                                <i class="fas fa-plus"></i>
                            </div>
                        </div>

                        <button class="btn" id="cart" onclick="addToCart('{{this.name}}')">add to cart</button>
                        
                        <i id="wishlist" class="fas fa-heart" onclick="addToWishlist('{{this.name}}')"></i>
                        
                        <i id="compare" class="fas fa-sync-alt"></i>
                        
                    </div>

                    <div id="service-section" class="row-2">
                            <div class="service">
                                <i class="fas fa-shipping-fast"></i>
                            <div class="service-text">
                                <p>free <br> shipping</p>
                            </div>
                        </div>
                        <div class="service">
                                <i class="fas fa-credit-card"></i>
                            <div class="service-text">
                                <p> safe <br> payment</p>
                            </div>
                        </div>
                        <div class="service">
                            <i class="fas fa-hand-holding-heart"></i>              
                            <div class="service-text">
                                <p>Best <br> services</p>
                            </div>
                        </div>
                    </div>

                    <div class="extra-link">
                        <span>SKU:</span> 
                        <a href="">ch-256xl</a>
                    </div>

                    <div class="extra-link">
                        <span>categories:</span> 
                        {{#each this.categories}}
                            <a href="">{{this}},</a>
                        {{/each}}
                    </div>

                    <div class="extra-link">
                        <span>tags:</span> 
                         {{#each this.tag}}
                            <a href="">{{this}},</a>
                        {{/each}}
                    </div>

                    <div class="extra-link">
                        <span>share:</span> 
                        <a href=""> <i class="fab fa-pinterest-p"></i> </a>
                        <a href=""> <i class="fab fa-twitter"> </i></a>
                        <a href=""> <i class="fab fa-tumblr"></i> </a>
                        <a href=""> <i class="fab fa-dribbble"> </i></a>
                    </div>

                </div>
            </div>
            
        </div>

        <div id="info-section">
            <div class="inner" id="info-section-inner">
                <div role ="tablist" class="row" id="tab-list">
                  <a href="" role="tab" aria-controls="information" id="info-tab" class=""> information </a>
                  <a href="" role="tab" aria-controls="description" id="des-tab" class="active"> description</a>
                  <a href="" role="tab" aria-controls="review" id="rv-tab" data-id={{this.id}} class=""> reviews (<span class="commentCount">{{this.totalReview}}</span>)</a>
                </div>
                <div id="information" role="tabpanel" tabindex="0" aria-labelledby="info-tab" hidden>
                    {{#each this.information}}
                        <div class="para">
                        <h2>{{this.name}}</h2>
                        <p>{{this.info}}</p>
                        </div>
                    {{/each}}
                </div>
    
                <div id="description" role="tabpanel" tabindex="0" aria-labelledby="des-tab">
                    <p>{{this.longDesc}} </p>
                </div>
            {{/each}}
                <div id="review" role="tabpanel" tabindex="0" aria-labelledby="rv-tab" hidden>
                    <div id="comment">
                        <h1>Comments (<span id="commentCount" class="commentCount">0</span>)</h1>
                        <div id="commentCover">
                             No comment yet
                        </div>    
                  </div>

                  <div id="post-comment">
                    <h1>Leave a comment</h1>
                    {{#if user}}
                        {{#each product}}
                            <form id="commentForm" class="form" method="POST" data-id={{this.id}}>
                                <div id="commentRating">
                                    <input type="radio" name="stars" value= 5 id="rate-5" class="ratingStar" autocomplete="off">
                                    <label for="rate-5" class="fas fa-star"></label>

                                    <input type="radio" name="stars" value= 4 id="rate-4" class="ratingStar"  autocomplete="off">
                                    <label for="rate-4" class="fas fa-star"></label>

                                    <input type="radio" name="stars" value= 3 id="rate-3" class="ratingStar"  autocomplete="off">
                                    <label for="rate-3" class="fas fa-star"></label>

                                    <input type="radio" name="stars" value= 2 id="rate-2" class="ratingStar"  autocomplete="off">
                                    <label for="rate-2" class="fas fa-star"></label>

                                    <input type="radio" name="stars" value= 1 id="rate-1" class="ratingStar"  autocomplete="off">
                                    <label for="rate-1" class="fas fa-star"></label>
                                </div>

                                <textarea name="comment" id="" cols="30" rows="5" placeholder="message" autocomplete="off"></textarea>
                                <input type="submit" value="post comment" class="btn formBtn">
                            </form>
                        {{/each}}
                    {{else}}
                        <div class="no-user">
                            <div class="text">please login </div>
                            <a href="/login" class="btn no-user-link"> login </a>
                        </div>
                    {{/if}} 
                  </div>
                </div>
            </div>
        </div>
       

        <div class="product-section inner" id="new">
            <h1 class="heading"> related products </h1>
            <p class="sub">Contrary to popular belief, Lorem Ipsum is not simply random text. 
                It has roots <br> in a piece of classical Latin literature </p>
        
            <div  class="row-2 product-div">
                
                
               
                <div class="product">
                    <a href="}" target="_blank" rel="noopener noreferrer">
                        <img src="" alt="" width="270" height="300">
                    </a>
                    <div class="hide">
                        <i class="fas fa-shopping-cart"></i>
                        <i class="far fa-eye"></i>
                        <i class="fas fa-heart"></i>
                    </div>
                    <div class="product-text">
                        <p>{{this.name}}</p>
                        <h3>{{this.price}}</h3>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                </div>
               
                 <div class="product">
                    <img src="images\product 6.png" alt="" width="270" height="300">
                    <div class="hide">
                        <i class="fas fa-shopping-cart"></i>
                        <i class="far fa-eye"></i>
                        <i class="fas fa-heart"></i>
                    </div>
                    <div class="product-text">
                        <p>feather red grass</p>
                        <h3>$45</h3>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                </div>
                 <div class="product">
                    <img src="images\product 4.png" alt="" width="270" height="300">
                    <div class="hide">
                        <i class="fas fa-shopping-cart"></i>
                        <i class="far fa-eye"></i>
                        <i class="fas fa-heart"></i>
                    </div>
                    <div class="product-text">
                        <p>feather red grass</p>
                        <h3>$45</h3>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                </div> 
                <div class="product">
                    <img src="images\product 2.png" alt="" width="270" height="300">
                    <div class="hide">
                        <i class="fas fa-shopping-cart"></i>
                        <i class="far fa-eye"></i>
                        <i class="fas fa-heart"></i>
                    </div>
                    <div class="product-text">
                        <p>feather red grass</p>
                        <h3>$45</h3>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                </div>
            </div>
        </div>
    <template id="commentTemplate">
        <div class="comment row">
            <img src="images/comment.jpg" alt="">
            <div class="user-data">
                <h2></h2> 
                <p class="sub">21 July 2021</p>
                <div class="stars"></div>
                <p class="review">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                    Soluta consequuntur quaerat architecto ipsa error dolore.
                </p>
            </div>
        </div>
    </template>
    <script src="product.js" defer type="text/javascript"></script>
       